<head>
<script>
$(".tiptext").mouseover(function() {
    $(this).children(".description").show();
}).mouseout(function() {
    $(this).children(".description").hide();
});

</script>

</head>


<div class="row"  id="dialog_content" style="height: 90px;width:100px">

    <div class="col-md-6 text-left"  style="float: center;float: left;" >
        <img src="images/cart.png"  style="height: 35px;width: 30px;margin-top: -3px;margin-left: 10px;"/>
    </div>
    <div class ="col-md-6"  style="float:right;margin:auto;">{{ ngCart.getTotalItems() }}
        <ng-pluralize count="ngCart.getTotalItems()" when="{1: 'item', 'other':'items'}" ></ng-pluralize>
        <br />{{ ngCart.totalCost() | currency:"ZK." }}
    </div>
</div>
